@tailwind base;
@tailwind components;
@tailwind utilities;

.black {
  background-color: rgb(40, 159, 189);
}
.white {
  background-color: rgb(233, 222, 138);
}
.selected {
  background-color: brown;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(63, 165, 42);
}
